@model WineCatalog.Models.WineIndexVM

<div class="row">
    <div class="col-md-12">
        <h2>Wine catalog</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>In stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var w in Model.Wines)
                {
                    <tr>
                        <td>@w.Name</td>
                        <td>@w.Color</td>
                        <td>@w.Price</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox"/>@w.InStock
                            </div>
                        </td>
                        <td><a href="@Url.Action("Delete", "Home", new {id = w.Id})"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                }

                @if (!Model.Wines.Any())
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            There are no wines to display
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Edit", "Home")" class="btn btn-success">Add wine</a>
    </div>
</div>
